.container {
    margin: auto;
    max-width: 500px;
    font-family: sans-serif;
  }
  /*Pour les en-têtes des pages web*/
  .heading {
    color: rgb(169, 29, 204);
  }
  /*Pour les boutons de navigations
  Lien*/
  .nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
  }
  .nav-link-item {
    padding-right: 2rem;
    
  }
  /*Pour le texte des liens de navigations*/
  .nav-link-text {
    color: rgb(230, 84, 235);
    text-decoration: none;
  }

/*Pour le titre du site*/
.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
}

/*Test pour redimensionner les photos
.heraimg {
    width : 200px;
    border-radius: 50%;
}*/